.container{
    display: grid;
}

.poster{
    grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}

.title{
    grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.vote_average{
    grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

.genres{
    grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

.genre{
    margin: 5px;
}

.overview{
    grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}