.Input{
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 6px;
    color: white;
    padding: 6px;
    padding-left: 10px;
    border: 1px solid lightgray;
}
.Input.Show{
    opacity: 1;
    pointer-events: auto;
}
.Input.Hide{
    opacity: 0;
  pointer-events: none;
}
.Input:focus{
    outline: none;
    background-color: rgba(200, 200, 200, 0.25);
}

.HomeBtn{
    padding: 0;
    width: 70px;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}


.NavWrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #363636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    letter-spacing: 16px;
    z-index: 3;
}
.Sign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    letter-spacing: 0.05em;
    gap: 20px;
}

.SignIn{
    cursor: pointer;
}

.SignUp{
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .InputIcon{
        display: block;
    }
    .Input, .SignIn, .SignUp, .SignUpIcon{
        display: none;
    }
    .Input.Show{
        display: block;
        width: 130px;
    }
    
    .InputIcon.Hide{
        display: none;
    }
}

/* @media screen and (min-width: 726px) {
    .SignInIcon{
        display: none;
    }
} */

@media screen and (min-width: 426px) {
    .InputIcon, .SignIn, .SignUp{
        display: none;
    }
    .Input{
        display: block;
        opacity: 1;
        pointer-events: auto;
    }
}

@media screen and (min-width: 769px) {
    .SignIn, .SignUp{
        display: block;
    }
    .SignInIcon, .SignUpIcon{
        display: none;
    }
}